body{
    text-align: center;
    background-color: #778ca3;
}
div{
    margin-top: 15%;
    border: 5px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h1{
    color: rgb(0, 0, 0);
    text-decoration:overline;
    text-decoration:underline;
    text-decoration-color: white;

}